.body {
background: linear-gradient(110deg, #f5b301 60%, #fed053 60%);
font-family: 'Josefin Sans', sans-serif;
font-weight: bold;
min-height: 100vh;
padding: 1.5%;
}

.line-top {
    height: 5px;
    background-color: black;
    margin: 0px;
}


.line-form-top {
    height: 5px;
    background-color: black;
}

.line-form-bottom {
    height: 5px;
    background-color: black;
    margin-top: 30px;
}

.form_area {
    background-color: rgba(255,255,255,0.4);
    min-height: 40rem;
    margin-top: 30px;
    border-radius: 20px;
    padding:50px;

}

.btn {
    width: 500px;
    margin: 10px;
    
}
.form-control {
    
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}
.formcode {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.submit_btn{
    width: 800px;
    margin: auto;
    margin-top: 50px;
}
.image {
    height: 80px;
    margin: 20px;
    margin-bottom: 0;
    cursor: pointer;
}
.image:hover {
    
}